if SHIELD_CORNEY_PROMICRO_LEFT

config ZMK_KEYBOARD_NAME
    default "Corney ProMicro"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

if SHIELD_CORNEY_PROMICRO_LEFT || SHIELD_CORNEY_PROMICRO_RIGHT

config ZMK_SPLIT
    default y

endif