if SHIELD_CORNEY_PROMICRO_DONGLE

    config ZMK_KEYBOARD_NAME
        default "Corney ProMicro"

    config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

    config ZMK_USB
        default y
endif # 

if SHIELD_CORNEY_PROMICRO_LEFT || SHIELD_CORNEY_PROMICRO_RIGHT || SHIELD_CORNEY_PROMICRO_DONGLE

    config ZMK_SPLIT
        default y

    config ZMK_BLE
        default y

endif
